@import url('https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&display=swap');

* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jaro', sans-serif;
}

.fondo {
    position: absolute;
    top: 30%;
    right: 57%;
    height: 30%;
    width: 31.5%;
    /* border: 2px solid black; */
    border-radius: 10%;
}

.pokedex {
    position: inherit;
    width: auto;
    height: 70vh;
    max-width: 100%;
    padding: 15px;
}

.pokemon__data {
    text-align: center;
    position: absolute;
    color: white;
    -webkit-text-stroke: 1px black;
    text-shadow:
    1px 1px 0px black, 
    -1px 1px 0px black, 
    1px -1px 0px black, 
    -1px -1px 0px black; /* Sombras más sutiles */
    top: 38%;
    right: 14%;
    font-size: clamp(3px, 4vw, 35px);
    text-transform: capitalize;
}

.pokemon__image {
    position: absolute;
    top: 34%;
    left: 28%;
    height: 14%;
    transform: translate(-56%, 20%);
}

.form {
    position: absolute;
    background-color: red;
    width: 31.5%;
    top: 70%;
    right: 55%;
}

.input__search {
    width: 100%;
    padding: 4%;
    outline: none;
    border: 2px solid #333;
    border-radius: 5px;
    font-weight: 600px;
    color: #3a444d;
    font-size: clamp(3px, 4vw, 1rem);
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
    position: absolute;
    bottom: 10%;
    left: 30%;
    width: 35%;
    transform: translate(-57%, 0);
    display: flex;
    gap: 20px;
}

.button {
    width: 50%;
    padding: 4%;
    border: 2px solid #000;
    border-radius: 5px;
    font-weight: 600;
    color: white;
    background-color: #444;
    font-size: 1.1rem;
    -webkit-text-stroke: 1px black;
    text-shadow:
    0.5px 0.5px 0px rgba(0, 0, 0, 0.5), 
    -0.5px 0.5px 0px rgba(0, 0, 0, 0.5), 
    0.5px -0.5px 0px rgba(0, 0, 0, 0.5), 
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.5);
    box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.9rem;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgb(34,193,195);
    background: linear-gradient(32deg, rgba(34,193,195,1) 0%, rgba(45,145,253,1) 100vh);
    min-height: 100vh;
}

main {
    display: inline-block;
    position: relative;
    
}


@media (max-width: 768px) {
    .pokedex {
        height: auto; /* Ajuste automático de la altura */
        max-width: 90vw; /* Aseguramos que la imagen no sea más ancha que la pantalla */
    }
    
    body {
        background: linear-gradient(32deg, rgba(34,193,195,1) 0%, rgba(45,145,253,1) 100%);
        min-height: 100vh;
    }
}
